.projectNavImg {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 32px 15px;
}

.overlay {
  height: 100%;
  overflow: hidden;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#181A19;
  overflow-x: hidden;
  display: block;
}

.close {
  display: none;
}

.project-content {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
  text-align: center;
  flex: 1;
  height: 100%;
}

.vertical-word {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin: 20px;
  margin-left: 15px;
  font-family: 'Poppins-Regular';
  transform: rotate(0.5turn);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.main-break-line {
  margin-top: 70px;
  border-top: 1px solid #ffffffb4;
}

.break-line {
  margin-top: 10px;
  border-top: 1px solid #ffffffb4;
}

.vertical-word a {
  color: whitesmoke;
  opacity: 0.4;
  text-decoration: none;
}

.vertical-word a:hover {
  color: white;
  opacity: 1;
}

.vertical-word a:focus {
  color: white;
  opacity: 1;
  font-weight: 400;
}

.btn-action {
  margin: 10px;
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.btn-action a {
  color: whitesmoke;
  opacity: 0.4;
  text-decoration: none;
}

.btn-action a:hover {
  color: white;
  opacity: 1;
}

.btn-action a:focus {
  color: white;
  opacity: 1;
  font-weight: 400;
}

.humbugger-menu {
  cursor: pointer;
  z-index: 5;
}

button{
  margin: 5px 0;
  background: transparent;
  color: #7A7F7D;
  font-size: 22px;
}