.app {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: 'hidden';
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blanchedalmond;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease-in-out;
}

body {
  overflow: hidden;
}

@font-face {
  font-family: 'Canela';
  src: local('Canela'),
    url('./assets/fonts/Canela-Light-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
    url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins-Light';
  src: local('Poppins-Light'),
    url('./assets/fonts/Poppins-Light.woff2') format('woff2');
}

